In [97]:
import pandas as pd
import os

In [162]:
path_to_data = os.path.join('data_csv')

In [156]:
def count_top3(years):
    df = pd.DataFrame()
    for year in years:
            path = os.path.join(DATA_PATH, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            df = pd.concat([df, frame], sort=False)
    return df.sort_values('Count').iloc[::-1].head(3)

In [160]:
count_top3([2015, 2016, 2013, 1999])

          Name Gender  Count
16941    Jacob      M  35361
16942  Michael      M  33912
16943  Matthew      M  30415

In [166]:
def count_dynamics(years):
    mens = []
    girls = []
    for year in years:
            path = os.path.join(DATA_PATH, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            girls.append(frame.query('Gender == "F"').Count.sum())
            mens.append(frame.query('Gender == "M"').Count.sum())
    
    print('Динамика мужчин: ')
    for men in mens:
        print(men)
        
    print('Динамика женщин: ')
    for girl in girls:
        print(girl)


count_dynamics([1900, 1950, 2000])

Динамика мужчин:
150483
1790549
1962969
Динамика женщин:
299800
1713151
1815110