In [1]:
import pandas as pd
import os

In [2]:
path_to_data = os.path.join('data_csv')

In [51]:
def count_top3(years):
    res_df = pd.DataFrame()
    for year in years:
            path = os.path.join(path_to_data, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            res_df = pd.concat([df, frame], sort=False)
    return df.groupby('Name').sum().sort_values('Count').iloc[::-1].head(3)

In [52]:
count_top3([1900, 1950, 2000]).head(3)

         Count
Name
James   111798
John    109593
Robert  101373

In [93]:
def count_dynamics(years):
    men = []
    women = []
    for year in years:
            path = os.path.join(path_to_data, f'yob{year}.txt')
            frame = pd.read_csv(path, names=['Name', 'Gender', 'Count'])
            women.append(frame[frame['Gender'] == 'F']).Count.sum())
            men.append(frame.query('Gender == "M"').Count.sum())
    
    print('Динамика мужчин: ')
#     for man in men:
#         print(man)
        
#     print('Динамика женщин: ')
#     for woman in women:
#         print(woman)


count_dynamics([1900, 1950, 2000])

SyntaxError: invalid syntax (<ipython-input-93-ef8ecd7b3b7d>, line 7)